In [86]:
import streamlit as st
import pickle
import pandas as pd

model= pickle.load(open('smote_rf_model', 'rb'))
features = pickle.load(open('model_features.pkl', 'rb'))
df_deploy = pickle.load(open('df_deploy.pkl', 'rb'))

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:334: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.22.2.post1 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:334: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.22.2.post1 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

**random customers**

In [87]:
df_sample=df_deploy.sample(10)

In [88]:
df_sample

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn
6609,1,No internet service,Month-to-month,20.10,No,No internet service,20.10,Yes
1102,3,No,Month-to-month,168.15,DSL,No,56.15,Yes
3642,30,No,Month-to-month,3121.10,Fiber optic,No,104.10,No
4299,29,Yes,Month-to-month,1718.95,DSL,No,58.55,No
2572,71,No internet service,Two year,1753.00,No,No internet service,25.00,No
5416,57,No,One year,5535.80,Fiber optic,No,95.00,No
4016,1,No,Month-to-month,45.35,DSL,No,45.35,No
6301,67,No,Month-to-month,3725.50,DSL,No,54.90,No
4386,55,Yes,Two year,3046.40,DSL,Yes,57.55,Yes
5212,72,Yes,Two year,2763.00,DSL,No,38.50,No

In [89]:
df = pd.get_dummies(df_sample).reindex(columns=features, fill_value=0)

In [90]:
prediction = model.predict_proba(df)

In [91]:
prediction[:,1]

array([0.55369431, 0.69287007, 0.67582592, 0.25899577, 0.03136805,
       0.26866718, 0.75048114, 0.31301803, 0.04336638, 0.06516873])

In [92]:
df_sample["Churn Prob"]=prediction[:,1]
df_sample

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn,Churn Prob
6609,1,No internet service,Month-to-month,20.10,No,No internet service,20.10,Yes,0.553694
1102,3,No,Month-to-month,168.15,DSL,No,56.15,Yes,0.692870
3642,30,No,Month-to-month,3121.10,Fiber optic,No,104.10,No,0.675826
4299,29,Yes,Month-to-month,1718.95,DSL,No,58.55,No,0.258996
2572,71,No internet service,Two year,1753.00,No,No internet service,25.00,No,0.031368
5416,57,No,One year,5535.80,Fiber optic,No,95.00,No,0.268667
4016,1,No,Month-to-month,45.35,DSL,No,45.35,No,0.750481
6301,67,No,Month-to-month,3725.50,DSL,No,54.90,No,0.313018
4386,55,Yes,Two year,3046.40,DSL,Yes,57.55,Yes,0.043366
5212,72,Yes,Two year,2763.00,DSL,No,38.50,No,0.065169

In [93]:
df_sample.drop("Churn", axis=1, inplace=True)

In [94]:
df_sample

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn Prob
6609,1,No internet service,Month-to-month,20.10,No,No internet service,20.10,0.553694
1102,3,No,Month-to-month,168.15,DSL,No,56.15,0.692870
3642,30,No,Month-to-month,3121.10,Fiber optic,No,104.10,0.675826
4299,29,Yes,Month-to-month,1718.95,DSL,No,58.55,0.258996
2572,71,No internet service,Two year,1753.00,No,No internet service,25.00,0.031368
5416,57,No,One year,5535.80,Fiber optic,No,95.00,0.268667
4016,1,No,Month-to-month,45.35,DSL,No,45.35,0.750481
6301,67,No,Month-to-month,3725.50,DSL,No,54.90,0.313018
4386,55,Yes,Two year,3046.40,DSL,Yes,57.55,0.043366
5212,72,Yes,Two year,2763.00,DSL,No,38.50,0.065169

In [95]:
df_sample["Churn Prob"]=df_sample["Churn Prob"].apply(lambda x:round(x,2))

In [96]:
df_sample.rename(columns={"OnlineSecurity": "Onl.Sec", "InternetService": "Service","TechSupport": "TechSupp", "MonthlyCharges": "M.Charges","TotalCharges": "T.Charges" }, inplace=True)

**top customers**

In [98]:
df_deploy = pickle.load(open('df_deploy.pkl', 'rb'))

In [99]:
df_deploy.shape

(7032, 8)

In [103]:
df = pd.get_dummies(df_deploy).reindex(columns=features, fill_value=0)

In [104]:
prediction = model.predict_proba(df)

In [106]:
len(prediction[:,1])

7032

In [111]:
df_deploy["Churn Prob"]=prediction[:,1]
df_deploy.drop("Churn", axis=1, inplace=True)
df_deploy.head()

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn Prob
0,1,No,Month-to-month,29.85,DSL,No,29.85,0.756407
1,34,Yes,One year,1889.50,DSL,No,56.95,0.091142
2,2,Yes,Month-to-month,108.15,DSL,No,53.85,0.446991
3,45,Yes,One year,1840.75,DSL,Yes,42.30,0.073276
4,2,No,Month-to-month,151.65,Fiber optic,No,70.70,0.865919

In [113]:
df_deploy.sort_values(by="Churn Prob", ascending=False).head()

,tenure,OnlineSecurity,Contract,TotalCharges,InternetService,TechSupport,MonthlyCharges,Churn Prob
207,1,No,Month-to-month,79.90,Fiber optic,No,79.90,0.886269
3310,1,No,Month-to-month,78.45,Fiber optic,No,78.45,0.886269
5288,1,No,Month-to-month,79.65,Fiber optic,No,79.65,0.886269
2464,1,No,Month-to-month,77.15,Fiber optic,No,77.15,0.886269
6168,1,No,Month-to-month,79.25,Fiber optic,No,79.25,0.886269